.faq-card {
  background: white;
  border: 1px black solid;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: left;
  width: 34rem;
}

.faq-title {
  align-items: center;
  background-color: #287d7d;
  border-radius: 1rem 1rem 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: center;
  margin: -1rem -2rem 1.8rem -2rem;
  min-height: 6rem;
  text-align: center;
}

.question {
  color: #2f9696;
  font-size: 18px;
  font-weight: bold;
}

.home-btn {
  background: #c98175;
  border: 0;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: .2rem .5rem 2rem .5rem;
  padding: 1rem 1.9rem 1rem 1.9rem;
}

.home-btn:hover {
  transform: scale(1.1); 
}

@media only screen and (max-width: 600px) {
  .faq-card {
    width: 17rem;
  }

  li {
    margin-left: -1rem;
  }
}   