.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.faq-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}