/* .app-title {
  color: white;
  font-size: 50px;
  background: #A56FD9;
  margin: 0;
  width: auto;
}

.header-bar {
  background: black;
  padding: 1rem;
} */

.header-bar {
  color: white;
  background: #A56FD9;
  width: 100%;
  font-size: 20px;
}