.footer-bar {
  background: #287d7d;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  padding-bottom: .7rem;
  position: fixed;
  width: 100%;
}

.euphoria {
  font-weight: bold;
  margin-top: 1.6rem;
}

.faq-btn {
  animation: wiggle 2.5s infinite;
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: .3rem 0 -.3rem 0;
}

.faq-btn:hover {
  animation: none;
  color: #DCDCDC;
}

.faq-text {
  font-weight: bold;
  margin-top: 1.3rem;
}

.hidden {
  display: none;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(15deg); }
   95% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}