.find-safe {
  font-size: 20px;
  font-weight: bold;
  margin: 3rem 0 -.1rem 0;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.zip-input,
.show-list-btn {
  background: white;
  border-radius: .25rem;
  border: 1px black solid;
  color: black;
  font-size: 20px;
  margin: .5rem;
}

.zip-input {
  height: 2.5rem;
  padding-left: 1rem;
  text-align: center;
  width: 15rem;  
}

.show-list-btn {
  background: #c98175;
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 3rem 1rem 3rem;
}

.show-list-btn:hover {
  transform: scale(1.1); 
}

.bad-zip {
  color: #c98175;
  margin-top: -.3rem;
}

.checkbox {
  font-size: 15px;
  margin: .5rem .5rem 1.5rem 0;
}

@media only screen and (max-width: 600px) {
  .zip-input {
    padding-left: 0;
  }
}   